<div class="container">
<h2 class="bg-light mb-2">Update Product</h2>
<form (submit)="updateProduct(updateProductForm)" #updateProductForm="ngForm" >
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer01">Product Name</label>
        <input type="text" class="form-control" required name="nom"  [(ngModel)]="productDetails.nom"  ngModel>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer02">Description</label>
        <input type="text" class="form-control"  [(ngModel)]="productDetails.description" required name="description" ngModel>
      </div>

    </div>
    <div class="form-row">



      <div class="col-md-6 mb-3">
        <label for="validationServer02">prix</label>
        <input type="number" class="form-control"  [(ngModel)]="productDetails.prix" required name="prix" ngModel>
      </div>
    </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationServer03">Category</label>
          <textarea type="text" class="form-control" [(ngModel)]="productDetails.Category" placeholder="Enter Product Description" required name="Category" ngModel >
          </textarea>
        </div>

    </div>

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer03">Image</label>
        <textarea type="text" class="form-control" [(ngModel)]="productDetails.image" placeholder="Enter Image URL" required name="img" ngModel >
        </textarea>
      </div>
  </div>








    <button class="btn btn-primary" type="submit">Update Product</button>

  <!-- </div> -->
  <!-- </form> -->
