<div class="container">
  <h1 style="margin-bottom: 1.2em;margin-top: 1.2em; text-align: center">
    Login
  </h1>

  <form #f="ngForm" >

    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="user.email" name="email"  class="form-control" required  ngModel #e="ngModel" >
    </div>

    <div class="alert alert-danger" *ngIf="e.invalid && e.touched">
      <div *ngIf="e.errors?.required"> Email is a required field</div>

    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" [(ngModel)]="user.password" name="password" minlength="6" class="form-control" required ngModel #p="ngModel">
    </div>
    <div class="alert alert-danger" *ngIf="p.invalid && (p.dirty && p.touched)">
      <div *ngIf="p.errors?.required">password is a required field</div>
      <div *ngIf="p.errors?.minlength">password should be at least 6 characters</div>
    </div>

    <div style="text-align: right">
      <button class="btn btn-primary" (click)="login()" [disabled]="f.invalid">Connect</button>
      <button style="margin-left: 30px;" class="btn btn-danger" type="reset" >Reset</button>
    </div>

  </form>


</div>


