<p> Consulter les informations d'un restaurant </p>
<div class="card-body">
<div class="row Show">

    <div>  <div class="col text-center">
      <p class="title">{{restaurantDetails.nom}}</p></div>
      <p>{{restaurantDetails.description}}</p>
      <span><b>{{restaurantDetails.adresse}}</b></span>
<br>
      <span><b>numéro de téléphone : </b> {{restaurantDetails.telephone}}</span>
      <div >
        <img src={{restaurantDetails.image}} alt="rover" />
      </div>
    </div>
</div>
</div>
