<div class="row">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let restaurant of Restaurantlist">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{{restaurant.nom}}" alt=""></a>
      <div class="card-body">
        <h2>{{ restaurant.id }}</h2>
        <h3 class="card-title">
          <a routerLink="GetRestaurantbyNom/{{restaurant.nom}}">{{ restaurant.nom }}</a>
        </h3>
        <h4>{{ restaurant.adresse }}</h4>
        <p class="card-text">{{ restaurant.description}}</p>
        <h5>Numéro de telephone:  {{ restaurant.telephone }}</h5>
        <h6> {{ restaurant.image }}</h6><
      </div>

    </div>
  </div>
</div>
