<p>**** vous etes sur de modifier ces informations? **** </p>
<!--<form #updateRecetteForm="ngForm">-->
<div class="form-group">
  <h2 class="bg-light mb-2" style="color: orange">Update Recette</h2><br>
  <form (submit)="updateRecette(updateRecetteForm)" #updateRecetteForm="ngForm" >
<div class="container">
    <div class="form-group">
        <label>Recette id</label>
        <input type="number" class="form-control"   [(ngModel)]="recetteDetails.id" required name="id" ngModel>
      </div>
    <div class="form-group">
        <label>Libellé </label>
        <input type="text" class="form-control"   [(ngModel)]="recetteDetails.libelle" required name="libelle" ngModel>
      </div>


    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control"  [(ngModel)]="recetteDetails.description" required name="description" ngModel>
    </div>

    <div class="form-group">
      <label>ing1</label>
      <input type="text" class="form-control"  [(ngModel)]="recetteDetails.ing1" required name="ing1" ngModel>
    </div>
    <div class="form-group">
      <label>ing2</label>
      <input type="text" class="form-control"  [(ngModel)]="recetteDetails.ing2" required name="ing2" ngModel>
    </div>
    <div class="form-group">
      <label>ing3</label>
      <input type="text" class="form-control"  [(ngModel)]="recetteDetails.ing3" required name="ing3" ngModel>
    </div>
    <div class="form-group">
      <label>ing4</label>
      <input type="text" class="form-control"  [(ngModel)]="recetteDetails.ing4" required name="ing4" ngModel>
    </div>
    <div class="form-group">
      <label>ing5</label>
      <input type="text" class="form-control"  [(ngModel)]="recetteDetails.ing5" required name="ing5" ngModel>
    </div>
</div>

<div style="text-align: center;color: green">
  <button class="btn btn-success" type="submit" (click)="updateRecette(updateRecetteForm.value)">Update Recette</button>

</div>
  </form>
</div>
