<p>**** vous etes sur de modifier ces informations? **** </p>
<!--<form #updateRestaurantForm="ngForm">-->
  <div class="form-group">
<h2 class="bg-light mb-2">Update Restaurant</h2>
<form (submit)="updateRestaurant(updateRestaurantForm)" #updateRestaurantForm="ngForm" >
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label>Restaurant id</label>
      <input type="number" class="form-control"   [(ngModel)]="restaurantDetails.id" required name="id" ngModel>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label>Restaurant Name</label>
      <input type="text" class="form-control"   [(ngModel)]="restaurantDetails.nom" required name="nom" ngModel>
    </div>
  </div>


  <div class="col-md-6 mb-3">
    <label>Description</label>
    <input type="text" class="form-control"  [(ngModel)]="restaurantDetails.description" required name="description" ngModel>
  </div>

  <div class="col-md-6 mb-3">
    <label>adresse</label>
    <input type="text" class="form-control"  [(ngModel)]="restaurantDetails.adresse" required name="adresse" ngModel>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label>telephone</label>
      <textarea type="number" class="form-control" [(ngModel)]="restaurantDetails.telephone" placeholder="Enter telephone du restaurant " required name="telephone" ngModel >
          </textarea>
    </div>
  </div>

  <button class="btn btn-primary" type="submit" (click)="updateRestaurant(updateRestaurantForm.value)">Update Restaurant</button>
</form>
</div>
