<div class="small-container cart-page">
    <table class="table table-bordered" >
        <tr style="background-color: orange">
            <th  scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
        <tr *ngFor="let cartItem of productService.shoppingCart|keyvalue">
            <td>
                <div class="cart-info">
                    <img src="{{cartItem.value[0].img}}">
                    <div>
                        <p>{{cartItem.value[0].nom}}</p>
                        <small>{{cartItem.value[0].description}}</small>
                        <br>
                         <a href="" (click)="deleteProductFromCart(cartItem.key)">Remove</a>

                    </div>
                </div>
            </td>
           <td><input type="number" value="{{cartItem.value[1]}}"></td>

           <td>{{cartItem.value[0].prix}} TND</td>
        </tr>


    </table>

  <br><br><br>
    <div class="total-price">
        <table>





            <tr>
                <td>
                    <a routerLink="/products" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                </td>

            </tr>
        </table>
    </div>


</div>
