
<div class="container" >
<h1 style="text-align: center;" class="myClass">liste des users</h1>


<table  border="2" class=" myClass table table-hover border-primary">
  <tr style="color: blue; text-align: center; text-transform: uppercase; font-weight:bold;" >
    <td >id</td>
    <td >Name</td>
    <td >lastname</td>
    <td >email</td>
    <td >Address</td>
    <td >Role</td>
    <td >Actions</td>
  </tr>
  <tr *ngFor="let user of userList">
    <td style="text-align: center" >{{user.id }}</td>
    <td style="text-align: center" >{{user.name }}</td>
    <td style="text-align: center" >{{user.lastname }}</td>
    <td style="text-align: center">{{user.email }}</td>
    <td style="text-align: center" >{{user.adress }}</td>
    <td style="text-align: center" >{{user.roles}}</td>
    <td style="text-align: center">
    <li><a routerLink="/user/updateuser/{{user.id}}"><i class="fa fa-edit" style="font-size:24px"></i></a>
        <i class="fa fa-user-times"style="font-size:24px;color:red"></i>
    </li>
  </td>

  </tr>
</table>
</div>

