
<p> Last Update : {{ lastUpdate | date: 'short'  }}</p>

<!-- <button style="font-size:24px">ADD New Product <li><a routerLink="/products/addProduct"></a><i class="fa fa-plus"></i></li></button> -->

<li><a routerLink="/products/addProduct"><i class="fa fa-plus" style="font-size:24px"> Add New Product</i></a></li>


<table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
        <th>Settings</th>
    </tr>
    <tr *ngFor="let product of productList">
        <td>{{product.id}}</td>
        <td>{{product.nom}}</td>
        <td>{{product.description}}</td>
        <td>{{product.prix}}</td>
        <td>{{product.image}}</td>
        <td><li><a routerLink="/products/delete-product/{{product.id}}"><i class="fa fa-trash"style="font-size:24px;color:red"></i></a></li>
        <li><a routerLink="/products/update-product/{{product.id}}"><i class="fa fa-edit" style="font-size:24px"></i></a></li></td>

    </tr>

  </table>
