<div class="card-body">
  <div class="row Show">
<div class="container">
    <div>  <div class="col text-center">
      <p class="title" style="color: orangered">{{recetteDetails.libelle}}</p></div>
      <p>{{recetteDetails.description}}</p>
      <h3 style="color: green">Liste des ingrédients</h3>
      <span><b>{{recetteDetails.ing1}}</b></span><br>
      <span><b>{{recetteDetails.ing2}}</b></span><br>
      <span><b>{{recetteDetails.ing3}}</b></span><br>
      <span><b>{{recetteDetails.ing4}}</b></span><br>
      <span><b>{{recetteDetails.ing5}}</b></span><br>
      <br>

      <div style="text-align: center">
        <img src={{recetteDetails.image}} style="height: 300px; width: 300px" alt="rover" />
      </div>
    </div>
  </div>
  </div>
  <br>
  <div style="text-align: center">
  <button class="btn btn-success" (click)="retour()">Retour</button>
  </div>

</div>
