.navbar{width: 50%; margin: 5px; margin-top: 0px;}
.top-header{text-align: right; padding-right:7.5%; margin-top:10px}
.top-header a {font-size: 20px; margin-left: 15px;   color: #28cac1; font-weight: 500;}
.top-header a:hover{color: #20B2AA;}
